* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Reusable */
.container {
  padding: 1rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

i {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

/* Root */
:root {
  /* Font Sizes */
  --font-size-xxs: 0.625rem; /* 10px */
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-md: 1rem; /* 16px */
  --font-size-lg: 1.125rem; /* 18px */
  --font-size-xl: 1.25rem; /* 20px */
  --font-size-2xl: 1.5rem; /* 24px */
  --font-size-3xl: 1.875rem; /* 30px */
  --font-size-4xl: 2.25rem; /* 36px */
  --font-size-5xl: 3rem; /* 48px */

  /* Font Weights */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Line Heights */
  --line-height-sm: 1.2;
  --line-height-md: 1.5;
  --line-height-lg: 1.75;

  /* Letter Spacing */
  --letter-spacing-tight: -0.05em;
  --letter-spacing-normal: 0;
  --letter-spacing-wide: 0.05em;

  /* Colors */
  --color-text-primary: #333333;
  --color-text-secondary: #555555;
  --color-text-muted: #888888;
  --color-red: #b3232e;

  /* Font Family */
  --font-poppins: "Poppins", sans-serif;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: black;
  border-radius: 50px;
}

.navbar .nav__logo {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-bold);
  color: white;
}

.navbar .nav__menu .nav__list {
  display: flex;
  gap: 2.5rem;
}

.navbar .nav__menu .nav__list .nav__link {
  font-size: var(--font-size-md);
  color: white;
}

.navbar .nav__menu .nav__list .nav__link:hover {
  color: var(--color-red);
}

.hamburger {
  display: none;
}


/* hero */

/* responsif breakpoint */

/* ipad */
@media (max-width: 1300px) {
  .navbar {
    padding: 2rem 2rem;
    width: 100%;
    height: 20px;
    background-color: black;
    border-radius: 50px;
  }
}

/* mobile */
@media (max-width: 450px) {
  html {
    font-size: 80%;
  }

  .hamburger {
    display: block;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
  }

  .navbar {
    position: relative;
  }

  .navbar .nav__menu {
    position: absolute;
    top: 5.5rem;
    right: 0.7rem;
    left: 0.7rem;
    display: block;
    padding: 30px;
    background-color: var(--color-red);
    border-radius: 15px;
  }

  .navbar .nav__menu .nav__list {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .navbar .nav__menu .nav__list .nav__link {
    font-size: var(--font-size-lg);
    color: white;
  }

}
