* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Root */
:root {
  /* Font Sizes */
  --font-size-xxs: 0.625rem; /* 10px */
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-md: 1rem; /* 16px */
  --font-size-lg: 1.125rem; /* 18px */
  --font-size-xl: 1.25rem; /* 20px */
  --font-size-2xl: 1.5rem; /* 24px */
  --font-size-3xl: 1.875rem; /* 30px */
  --font-size-4xl: 2.25rem; /* 36px */
  --font-size-5xl: 3rem; /* 48px */

  /* Font Weights */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Line Heights */
  --line-height-sm: 1.2;
  --line-height-md: 1.5;
  --line-height-lg: 1.75;

  /* Letter Spacing */
  --letter-spacing-tight: -0.05em;
  --letter-spacing-normal: 0;
  --letter-spacing-wide: 0.05em;

  /* Colors */
  --color-text-primary: #333333;
  --color-text-secondary: #555555;
  --color-text-muted: #888888;

  /* Font Family */
  --font-poppins: "Poppins", sans-serif;
}

/* navbar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  background-color: aqua;
}

.logo a {
  color: black;
  font-size: 1.4rem;
  text-decoration: none;
}

nav,
nav ul,
nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
  gap: 2rem;
  color: black;
  font-size: 1.4rem;
}

/* hero */
