* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

/* Reusable */
.container {
  padding: 1rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

i {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

/* Root */
:root {
  /* Font Sizes */
  --font-size-xxs: 0.625rem; /* 10px */
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-md: 1rem; /* 16px */
  --font-size-lg: 1.125rem; /* 18px */
  --font-size-xl: 1.25rem; /* 20px */
  --font-size-2xl: 1.5rem; /* 24px */
  --font-size-3xl: 1.875rem; /* 30px */
  --font-size-4xl: 2.25rem; /* 36px */
  --font-size-5xl: 3rem; /* 48px */

  /* Font Weights */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Line Heights */
  --line-height-sm: 1.2;
  --line-height-md: 1.5;
  --line-height-lg: 1.75;

  /* Letter Spacing */
  --letter-spacing-tight: -0.05em;
  --letter-spacing-normal: 0;
  --letter-spacing-wide: 0.05em;

  /* Colors */
  --color-text-primary: #333333;
  --color-text-secondary: #555555;
  --color-text-muted: #888888;
  --color-red: #b3232e;

  /* Font Family */
  --font-poppins: "Poppins", sans-serif;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: black;
  border-radius: 50px;
}

.navbar .nav__logo {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-bold);
  color: white;
}

.navbar .nav__menu .nav__list {
  display: flex;
  gap: 2.5rem;
}

.navbar .nav__menu .nav__list .nav__link {
  font-size: var(--font-size-md);
  color: white;
}

.navbar .nav__menu .nav__list .nav__link:hover {
  color: var(--color-red);
}

.hamburger {
  display: none;
}

.nav__menu .nav__list .nav-icon {
  display: none;
}

/* hero */
.hero .container {
  padding-top: 0rem;
}

.hero-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.content-atas {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.content-atas .title {
  flex: 1;
  line-height: 1.2;
  font-size: var(--font-size-5xl);
  color: var(--color-red);
}

.content-atas .title span {
  color: black;
  font-weight: var(--font-weight-light);
}

.content-atas .delimiter {
  font-size: var(--font-size-5xl);
  font-weight: var(--font-weight-bold);
}

.content-atas .title-content {
  height: 40vh;
  padding-left: 32rem;
  padding-top: 2rem;
  padding-right: 1rem;
  border-radius: 15px;
  background: linear-gradient(rgba(255, 239, 239, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/header-image.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-position: cover;
  /* filter: opacity(70%);   */
  position: relative;
  color: black;
}

.content-atas .title-content .learn-more {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0.5rem 2rem;
  border: none;
  color: white;
  background-color: var(--color-red);
  border-radius: 15px;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  transition: all 0.2s;
}

.content-atas .title-content .learn-more:hover {
  background-color: #e8182a;
}

.content-bawah {
  display: flex;
  gap: 1rem;
}

.content-kiri,
.content-kanan {
  width: 60%;
  height: 40vh;
  border-radius: 15px;
  padding: 15px;
  background-color: var(--color-red);
  color: white;
}

/* responsif breakpoint */

/* ipad */
@media (max-width: 1200px) {
  .navbar {
    padding: 2rem 2rem;
    width: 100%;
    height: 20px;
    background-color: black;
    border-radius: 50px;
  }
}

/* ipad vertikal */
@media (max-width: 850px) {
  .content-atas {
    flex-direction: column;
    margin-top: 40px;
  }

  .content-atas .delimiter {
    display: none;
  }

  .content-atas .title-content {
    background-position: center;
    height: 25vh;
    padding-left: 25rem;
  }
}

/* mobile */
@media (max-width: 720px) {
  html {
    font-size: 80%;
  }

  .hamburger {
    display: block;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
  }

  .navbar {
    position: relative;
  }

  .navbar .nav__menu {
    position: absolute;
    top: 5.5rem;
    right: -100rem;
    padding: 30px;
    background-color: black;
    border-radius: 15px;
    z-index: 999;
    transition: all 0.5s;
  }

  .navbar .nav__menu.active {
    right: 0;
  }

  .navbar .nav__menu .nav__list {
    flex-direction: column;
    text-align: center;
    gap: 4rem;
  }

  .nav__menu .nav__list .nav-icon {
    display: block;
    margin-bottom: 15px;
  }

  .navbar .nav__menu .nav__list .nav__link:hover {
    color: var(--color-text-primary);
  }

  .navbar .nav__menu .nav__list .nav__link {
    font-size: var(--font-size-lg);
    color: white;
  }

  .content-atas .title-content {
    width: 100%;
    height: 50vh;
    padding-left: 2rem;
  }
}
